.bg-gradient-custom {
    background: linear-gradient(135deg, #6e7dff, #b03c9a);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
